*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;
}

header {
  background: linear-gradient(to right, rgb(84, 90, 170), rgb(13, 13, 148));
  color: rgb(241, 241, 241);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
}

ul {
  list-style-type: none;
}

.card-header {
  background: linear-gradient(to right, rgb(84, 90, 170), rgb(13, 13, 148));
  color: rgb(241, 241, 241);
}

.text-container p {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  padding-left: 20px;
}

#uv {
  border-radius: 3px;
  color: black;
  padding: 1px 6px;
}
